<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{wordpress_db_name}}');

/** MySQL database username */
define('DB_USER', '{{wordpress_db_user}}');

/** MySQL database password */
define('DB_PASSWORD', '{{wordpress_db_password}}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

define('FS_METHOD', 'direct');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'UvuUYc%s%M-m:-s5[q6E.-m);e@=VN0YC,h{CA^C^O--LE<DEh|QmQy^R-z5Ft1K');
define('SECURE_AUTH_KEY',  ',/g7M.|FB$b!%>>SRUp-d#e)>2,z%v}()m^2h/sZ#IgX`|.gKA~-;;ZqRZ-<;A,H');
define('LOGGED_IN_KEY',    '-#v-!UT/:ku< {`)]<YV~eG,h1^<:1^d7x-nq,&$z-[!m--,-aZ35D9^=e(a `mZ');
define('NONCE_KEY',        'U4>3z{-|(n7g%@]VlI$E Y-wq+@JwaIj{&z-P_vv<_N!A::@2.$^XhA~F/:.MyZo');
define('AUTH_SALT',        '&H-]P$yG,HL3*;695HRloQTJ8LMReJ72+opUV^pm3L,^a2c-(bZ(G|%qr6l.BC2<');
define('SECURE_AUTH_SALT', 'MEF%5!+>p+#HwTaO.1EBll[+*>SJ%C96K0;fNl3fh)O#K@-AG=&+<e7!Y$%oyuXM');
define('LOGGED_IN_SALT',   '3WB<EEJJ, ]j)_|br<1rz+;_|%H~+sp3&dNsz_U3X*vkz?mZ@-y fZ+!0BqLV>^h');
define('NONCE_SALT',       'CkKXZD|:TqEVXZR!YkM:S@`nsf4ToGLVH~Yv6#gev9WVEBw;ogA%2vg:lJWE|A:+');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '{{wp_table_prefix}}_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');